**/__pycache__
**/build/
**/.egg-info/
**/.egg
**/*.pyc
**/.DS_Store
**/.vscode/
**/*.log
**/*.out
**/logs
**/.idea
**/samples*
**/sample2pkl.py
GUI/outputs
**/wandb
**/test
/.git
/.gitattributes
secret.txt 